/* main css */
/*general settings*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    font-weight: 100;
    margin: 0;
}

li {
    list-style: none;
}

a:link {
    text-decoration: none;
}

/*============
clearfix
==============*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

.ulunpaded {
    padding-left: 0;
}

h2, footer ul {
    margin-top: 0;
}

h2 {
    font-size: 3rem;
    font-weight: 100;
}

/*===================
buttons
===================*/
.stories button::after,
.lower-header button::after,
.solutions button::after {
    content: "";
    display: inline-block;
    background: url(images/btnArrow.png) no-repeat;
    width: 10px;
    height: 13px;
    background-size: 100%;
    position: absolute;
    right: 5px;
    top: 32%;
}

.stories button,
.lower-header button,
.solutions button {
    background-color: #2894c9;
    border: none;
    font-family: Arial;
    font-size: 1.4rem;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: inset 0px 3px 42px -13px rgba(0,0,0,0.6);
}

.lower-header button {
    text-transform: uppercase;
}

.stories button,
.solutions button {
    color: #fff;
    background: #3a95b5;
    border: none;
    display: block;
    margin: 0 auto;
}

.stories button {
    margin-top: 50px;
}

/*================
grids and layouts
==================*/
.grid {
    width: 960px;
    margin: 0 auto;
}


/*============
upper header
==============*/
.nav-tabs  a,
.lang,
.customer-login {
    color: #585951;
}

.upper-header {
    font-family: "Arial";
    margin: 0 auto;
    position: relative;
    height: 99px;
    top:2px;/*for the mega menu to appear below the header*/

}

.upper-header button {
    background: #fff;
    border: none;
}
.logo-img {
    float: left;
    padding-top: 24px;
}
/*hiding the mobile search elements*/
.search-input-mobile,
#search-checkbox,
#search-checkbox + label,
#search-checkbox + input,
#toggle,
#toggle + label {
    display: none;
}
.nav-tabs > a::after {

    content: url(images/divider.png);
    padding: 0 5px;
    position: relative;
    bottom: -4px;
}

.nav-tabs:last-child > a::after {
    display: none;
}

.nav-tabs:last-child > a {
    bottom: -6px;
    position: relative;
}

.main-nav {
    margin-top: 5.2%;
    margin-left: 2%;
    font-size: 1.5rem;
    text-transform: uppercase;
    float: left;
}
.right-header {
    float: right;
    margin-top: 10px;
    padding-top: 5px;
}


/*===mega menu design====*/
/*padding for the mega-menu li's for style and spacing*/
/*a tag span the whole li element*/
.nav-tabs>a {
    display: block;
}
/*fucking hack of white shadow to make the tabs look as one*/
.nav-tabs:hover>a {
    color: blue;
    box-shadow: 0px 15px 0px 9px rgba(255,255,255,1);
}
.nav-tabs {
    padding-bottom: 11px;
}
.nav-tabs:last-child {
    padding-bottom: 17px;
}
.nav-tabs {
    float: left;
}
/*borders and padding when hovering the tabs*/
.nav-tabs:hover ,
.nav-tabs:focus {
    border-top:1px solid silver ;
    border-right:1px solid silver;
    border-left:  1px solid silver;
    padding-right: 9px;
    padding-top: 5px;
    padding-left: 9px;
}
.nav-tabs:last-child:hover {
    padding: 0 9px 11px 9px;
}
/*hidding the dividers when hovering*/
.nav-tabs:hover a::after,
.nav-tabs:hover a::before {
    display: none;
}
 .dropdown {
    display: none;
    position: absolute;
    top:100px;
    left:0;
    background: #fff;
    width: 100%;
    height: 234px;
     z-index: 100;
}
.mega-divider {
    background: url(images/line_divider_video.png);
    height: 196px;
    width: 1px;
    position: absolute;
    top: 20px;
    right: 35%;
}
.mega-img {
    height: 196px;
    width: 31%;
    position: absolute;
    top: 20px;
    right: 20px;
}
.needs {
    background: url(images/Megamenu_Your_Needs_eBook.jpg) no-repeat;    
}
.portfolio-img {
    background: url(images/megamenu_digital_lifestyle.jpg);
}
.news {
    background: url(images/Megamenu_News_and_media.jpg);
}
.about {
    background: url(images/Megamenu_About_Comverse_by_the_numbers.jpg);
}
/*dropdown menu column style*/
.dropdown-column {
    float: left;
    margin-top: 20px;
    line-height: 20px;
    text-transform: capitalize;
    font-size: 1.5rem ;
}
/*specific style for our portfolio*/
.dropdown-column:nth-child(2){
    margin-left: 100px;
}
.portfolio {
    height: 280px;
}
.portfolio .dropdown-column:nth-child(2) {
margin-left: 40px;
}
.portfolio  .dropdown-column li:first-child a,
.portfolio  .dropdown-column li:nth-child(10) a,
.portfolio .dropdown-column:nth-child(2) li:nth-child(6) a {
    color: blue;
    text-decoration: underline;
}
/* hover the main tabs*/


.nav-tabs:hover > ul {
    display: block;

}
/*====end of mega-menu====*/

.search-form input {
    border: none;
    width: 107px;
    padding-left:7px;
    vertical-align: top;
    font-size: 1.5rem;
}

.search-form button {
    height: 15px;
    padding-bottom: 5px;
    padding-left: 0;
    margin: 0 0 0 11px;
    background-image: url(images/searchBtn.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    right: 0%;
}

.search-form button::before {
    content: url(images/search_line_devider.png);
    position: relative;
    bottom: -4px;
    margin-right: 30px;
    position: relative;
    bottom: 1px;
}

.search-form input:focus { /* delete the input outline*/
    outline: none;

}

.search-form fieldset { /* adding an outline round whole element*/
    margin: 0;
    padding: 2px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    height: 25px;
    position: relative;
}

.lang-login { /*position the lang&login element*/
    font-size: 1.2rem;
    margin-bottom: 25px;

}

.lang-selection {
    text-transform: uppercase;
    color: #585951;
    border: none;
    padding-left: 0;
}
.customer-login:hover {
    text-decoration: underline;
}

.customer-login::before {
    content: url(images/divider.png);
    position: relative;
    top: 4px;
    padding-right: 8px;
}

/*=================
lower header
=====================*/
.lower-header,
.lower-header button,
.lower-header a {
    color: #fff;
}

.lower-header { /*bg-img setting*/
    height: 570px;
}

/*positioning the press section*/
.relative-press-wrapper {
    position: relative;
}

.press-wrapper {
    margin-top: 5%;
    cursor: pointer;
    position: absolute;
    bottom: 24px;
}

.press-wrapper li {
    float: left;
    width: 31%;
    margin-left: 3%;

}

.press-wrapper li:first-child {
    margin-left: 0;
}

.press {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 100;
    border-radius: 5px;
    width: 100%;
    height: 190px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 4px 0px rgba(162, 162, 162, 0.5);

}

.press h3 {
    font-weight: 100;
}

.press a {
    font-weight: 400;
}

.press a:last-child {
    font-size: 1.4rem;
}

.press i {
    padding-right: 5px;
}

.item1 {
    background-color: rgba(250, 66, 158, 0.9);

}

.item1:hover {
    background-color: rgb(250, 66, 158);
}

.item2 {
    background-color: rgba(104, 192, 56, 0.9);
}

.item2:hover {
    background-color: rgb(104, 192, 56);
}

.item3 {
    background-color: rgba(255, 116, 20, 0.9);
}

.item3:hover {
    background-color: rgb(255, 116, 20);
}

.lower-header > ul {
    height: 100%;
    margin-top: 0;
}

/*WTFFFFF*/


/*layout setting for the slides*/

.slide {
    display: none;
}

.slide {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    background-size:cover;
    padding-bottom: 30px;
    font-size: 1.7rem;
    padding-top: 20px;
    height: 100%;
    box-shadow: inset 0px 2px 10px -1px rgba(0,0,0,0.6);
}
.slide h1 {
    font-weight: 100;
    text-transform: capitalize;
}

.slide span {
    font-weight: 400;
}
/*======slide show=====*/
.onpageload {
    display: block;
    background-image: url(images/slide-bg-complexity.jpg);

}

#free:target {
    display: block;
    background-image: url(images/slide-bg-complexity.jpg);

}

#monetize:target {
    background-image: url(images/smartly-monetize.jpg);
    display: block;
}
#monetize:target li,
#fourg:target li
{
    list-style: circle;
    line-height: 10px;
}

#fourg:target {
    background: url(images/evolve-to-ip4g.jpg);
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;


}

#digital:target {
    background: url(images/digital-services.png);
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;

}
#monetize:target ~ .onpageload,
#fourg:target ~ .onpageload,
#digital:target ~ .onpageload {
    display: none;
}




/*===slider bullets navigator===*/
.slider-nav-wrapper {
    position: relative;
}

.slider-nav {
    position: absolute;
    bottom: 258px;
}

/*fixing the left margin offset*/
.slider-nav li:first-child div {
    margin-left: 2px;
}

.slider-nav li {
    display: inline-block;

}

.slider-nav div {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 2px;
    margin-left: 5px;
}

/*========================
solutions section
==========================*/
.solutions h6 {
    font-size: 1.7rem;
    font-weight: 100;
    margin-top: 0;
    text-align: center;
}

.solutions h2 {
    text-align: center;
}

/*bg-img for the solutions icons*/
.solution div {
    height: auto;
    max-width: 100%;
    /*background-repeat: no-repeat;*/
    /*background-position: 0 0;*/
    /*background-size:cover;*/
    position: relative;
    z-index: 100;
}

.solut1 div {
    content: url(images/solution_icon_biz-analitics.png);
}

.solut2 div {
    content: url(images/solution_icon_diti-cx.png);
}

.solut3 div {
    content: url(images/solution_icon_smart-money.png);
}

.solut4 div {
    content: url(images/solution_icon_optimize-efficnt.png);
}

.solut5 div {
    content: url(images/solution_icon_personal.png);
}

.solut6 div {
    content: url(images/solution_icon_biz-transform.png);
}

/*hovering images*/
.solut1:hover div {
    content: url(images/solution_icon_biz-analitics_hover.png);
}

.solut2:hover div {
    content: url(images/solution_icon_diti-cx_hover.png);
}

.solut3:hover div {
    content: url(images/solution_icon_smart-money_hover.png);
}

.solut4:hover div {
    content: url(images/solution_icon_optimize-efficnt_hover.png);
}

.solut5:hover div {
    content: url(images/solution_icon_personal_hover.png);
}

.solut6:hover div {
    content: url(images/solution_icon_biz-transform_hover.png);
}

.solutions-wrapper {
    cursor: pointer;
    position: relative;
}

.solutions {
    background: #43a2c8;
    background-image: url(images/weDoBG.png);
    padding: 21px 0 30px 0;
}

.solutions,
.solutions a,
.solutions button {
    color: #fff;
}

.solutions li {
    display: inline-block;
    width: 16%;
    vertical-align: top;
    margin-left: 0.5%;
}

.solutions li:first-child {
    margin-left: 0;
}

.solution section {
    width: 100%;
}
/*spotlight styling*/
.solutions .grid {
    position: relative;
}
.spot-light {
    width: 100%;
    height: 300px;
    position: absolute;
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(237,237,237,0.3) 0%, rgba(243,243,243,0) 33%, rgba(246,246,246,0) 47%);
    top: -45%;
    z-index: 10;

}

/*=================
events section
===================*/

.events {
    background-image: url(images/news-and-events-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    padding-top: 21px;

}

.events li {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    margin-left: 3%
}

.events li:first-child {
    margin-left: 0;
}

.events h3 {
    font-size: 2rem;
    font-weight: 100;
    margin: 5px 0;
    text-transform: uppercase;
}

.events h2 {
    margin: 0 0 0 5px;
    text-align: center;
}

.events article {
    width: 100%
}

.events a,
.events {
    color: #fff;
}

.event > a {
    font-size: 1.4rem;
    text-transform: capitalize;
}

.event > a i {
    padding-right: 5px;
}

.event > a:hover {
    color: black;
}

.events p {
    color: #000;
    text-align: left;
}

.event-wrapper { /* the semi white box*/
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    padding: 10px;
    height: 160px;
    border-radius: 3px;
    margin-bottom: 10px;

}

/*hovering the events*/
.event-wrapper:hover {
    background: rgba(255, 255, 255,0.6);
    cursor: pointer;
}

.event-wrapper > div { /* the light blue box*/
    float: left;
    background-color: #43a2c8;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1px;
    padding: 10px 0px;
    width: 30%;
    margin: 5px 5px 0 5px;
    text-align: center;
}

.event-wrapper > div > div:first-of-type {
    font-size: 5.5rem;
    border-bottom: 1px dotted #fff;

}

/*====================
success stories
======================*/
.stories {
    background: #ececec;
    color: #585951;
    padding: 21px 0 50px 0;
    box-shadow: inset 0px 2px 10px -1px rgba(0,0,0,0.6);
}


.stories h2 {
    text-align: center;
}

.stories article {
    background: #fff;

}

.col-narrow, .col-wide {
    cursor: pointer;
}

/*====aligning the section====/*
/*section's grid 3 columns&spacing*/
.stories .col-wide {
    width: 36.5%;
}

.stories .col-narrow {
    width: 24.2%;
}

.col-wide {
    margin-right: 1%;
}

/*==========
    FLOATS
 ===========*/
/*columns articles' layout*/
.left-story li:not(:first-child),
.middle-story li:not(last-child),
.col-narrow li:not(:first-child),
    /*align the section 3 columns*/
.col-narrow, .col-wide,
    /*float left the 2 big articles' clients picture */
.abstract > div > img {
    float: left;
}

/* float left the 2 big articles' clients title&link*/
.abstract div:last-of-type,
.col-narrow article div:last-of-type {
    display: inline;
    float: left;
}

/*float right the  2 big articles' clients company's link*/
.abstract > a,
.col-narrow article > a {
    float: right;
}

/*===spacing articles&columns===*/

/*measures&margin for left and middle columns small articles*/
.middle-story li:not(:last-child),
.left-story li:not(:first-child) {
    margin-left: 10px;
    width: 31.4%;
}

/*same for the narrow column*/
.col-narrow li:last-child,
.col-narrow li:nth-child(2) {
    width: 47.8%;
    background: #fff;
}

/*margin for the last small article in the narrow column*/
.col-narrow li:last-child {
    margin-left: 10px;
}

/*zero margin for the left side aricles*/
.middle-story li:first-child,
.middle-story li:last-child,
.left-story li:nth-child(2) {
    margin-left: 0;
}

/*margin bottom/top for the big articles*/
.col-narrow li:first-child,
.left-story li:first-child {
    margin-bottom: 10px;
}

.middle-story li:last-child {
    margin-top: 10px;
}

.stories blockquote {
    font-size: 1.6rem;
}

/*spacing&styling inside the articles*/
/*quote img*/
.abstract blockquote::before,
.small-abstract blockquote::before{
    content: url(images/quote-grey.png);
    margin: 0 10px;
}

/*styling the divider border and spacing*/

.middle-story .abstract div:first-child,
.left-story .abstract div:first-child {
    border-bottom: 1px solid #ddd;
    padding-top: 14px;
    margin-bottom: 10px;
}

/*marging between the quote and the client img*/
.abstract > div > img {
    margin-right: 18px;
}

/*font size of the quote text*/
.col-narrow li:first-child div + div,
.abstract div + div {
    font-size: 1.3rem;
}

/*margin of the quote*/
.col-narrow blockquote {
    margin-bottom: 20px;
    margin-left: 0;
}

/*border and margin of the div of the quote*/
.small-abstract div:first-child {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

/*padding of the article to get the bottom-border shorter*/
.abstract,
.col-narrow li:first-child article {
    padding: 0 14px;
}

.stories article,
.stories li img,
.stories li {
    border-radius: 5px;
}

/*====hovering the small articles====*/
/*styling the hidden small articel*/
.small-story-hidden {
    content: url(images/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg);
    width: 100%;
    height: 100%;
}
/*animation small articles*/
.container-video {
    position: relative;
    overflow:hidden;
}
.small-story {
    position: absolute;
    top:0;
    transition:all 500ms ease-in-out;
    width: 100%;
}
.container-video:hover .small-story {
    top: -100%;

}

/*===hovering the big articles===*/

/*styling the quote container*/

.container-wide .hidden-quote {
    padding: 23px;
    font-size: 1.6rem;
    background: #3aa6db;
    color: #fff;
}

.container-narrow .hidden-quote {

    padding-top: 23px;
    font-size: 1.5rem;
    background: #3aa6db;
    color: #fff;
    height: 210px; /*why does  it have to have height?*/
}
/*styling the quote images*/
.container-narrow .hidden-quote blockquote::before,
.container-wide .hidden-quote blockquote::before,
.container-wide .hidden-quote blockquote::after {
    content: url(images/quote-blue.png);
    margin: 0 10px;
}
.container-narrow .hidden-quote blockquote,
.container-wide .hidden-quote blockquote {
    margin-top:0;
    margin-bottom: 0;
}
.container-narrow .hidden-quote blockquote {
    margin-right: 32px;
    padding-top: 23px;
}
/*animation big articles*/
.abstract,
.small-abstract {
    position: absolute;
    top:0;
    transition:all 500ms ease-in-out;
    height: 100%; /*very meaningful when fluid responsiveness is needed*/
}
.small-story {
    height: 100%;/*very meaningful when fluid responsiveness is needed*/
}
.container-wide,
.container-narrow {
    position: relative;
    overflow:hidden;
}
.container-wide:hover .abstract,
.container-narrow:hover .small-abstract {
    top: -100%;
}


/*================
      footer
================*/
/*grid and alignment*/
footer > .grid {
    position: relative;
}
.col-footer {
    float: left;
    width: 24%;
    font-family: Arial;
    font-size: 1.3rem;
    line-height: 24px;
}
.col-footer li>a:hover {
    text-decoration: underline;
}

.feature-box {
    width: 28%;
    text-align: center;
    position: relative;
    height: 350px;

}

.feature-box article {
    margin: 15px;
    height: 50%;
    border-bottom: 1px solid #fff   ;
}

.feature-box > article > p {
    font-size: 1.8rem;
    text-align: left;
    line-height: 27px;
}

.feature-box h2,
.feature-box label {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.feature-box p {
    color: #fff;
}

.date-footer {
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 11px;
}

.date-footer p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5rem;

}

.date-footer p:last-child {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 18px;
}

small {
    float: left;
}

footer {
    background: #282828;
}

footer a {
    color: #fff;
}

footer li:first-child {
    text-transform: uppercase;
    padding: 20px 0 10px 0
}

small {
    color: #D8D8D8;
    font-size: 1.4rem;
}

.feature-box {
    background: rgba(255, 255, 255, 0.2);
    position: relative;
}

.feature-box h2 {
    color: #4ea7d3;
}

.feature-box input {
    border-radius: 3px;
    border: none;
    padding: 0 2px 2px 2px;
    outline: none;

}

.feature-box button {
    display: inline-block;
    vertical-align: middle;
    background: #36a1d7;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 2px 15px;
    box-shadow: inset 0px 3px 42px -17px rgba(0,0,0,0.6);
}

.feature-box span {
    background: #fff;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 3px;
}

/*social-nav &hovering*/
.social-nav {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;

}

.social-nav ul {
margin-right: 0;
}

.social-nav li {
    width: 22px;
    height: 22px;
    display: inline-block;
    padding: 0;
    margin-left: 10px;

}

.youtube:hover {
    content: url(images/socialMenuIcon-youtube_hover.png);
}

.twitter:hover {
    content: url(images/socialMenuIcon-twitter_hover.png);
}

.linkedin:hover {
    content: url(images/socialMenuIcon-linkdin_hover.png);
}
/*back to to top button*/
.back-top {
    position: absolute;
    top: -30px;
    left:0;

}

/*======================
   responsive design
=======================*/

   /*====medium size===
    ===================*/

@media (max-width: 959px) and (min-width: 767px) {
    /*=====upper-header====*/
    .grid {
        width: 95%;
    }

    .logo-img img {
        content: url(images/comverse-logo-medium.png);
    }

    .logo-img {
        padding-top: 50px;
    }

    .main-nav {
        font-size: 1.2rem;
        margin-top: 52px;
    }

    .nav-tabs:last-child > a {
        bottom: -8px;
    }

    /*=====lower-header====*/
    .press h3 {
        font-size: 1.9rem;
    }

    /*=====solutions====*/
    .solutions li {
        margin-left: 0;
    }

    .solution h6 {
        font-size: 1.3rem;
    }

    /*=====events=====*/
    .event-wrapper > div {
        width: 37%;
    }

    /*====success=====*/
    .stories .col-narrow {
        display: none;
    }

    .stories .col-wide {
        width: 49%;
    }

    .stories .small-story {
        width: 100%;
        height: 100%;

    }

    /*========footer==========*/
    footer .grid *:not(small) {
        display: none;
    }

}
/*end of medium size*/

    /*====mobile size===
     ===================*/
    @media (max-width: 766px) and (min-width: 320px) {
        .grid {
            width: 100%;
        }
        .grid-mobile {
            width: 95%;
            margin: 0 auto;
        }
        h2 {
           font-size: 2.2rem;
        }
        /*====upper-header====*/
        /*minimize the upper header*/
        .upper-header {
            height: 50px;
            position: relative;
        }
        /*smal comverse logo*/
        .logo-img img {
            content: url(images/comverse-logo-medium.png);
        }
        /*center the logo*/
        .logo-img {
           margin: 0 auto;
            padding: 0;
            width: 110px;
           float: none;
        }
        /*hiding the main menu*/
        .main-nav,
        .nav-tabs a::after{
            display: none;
        }
        /*hiding the old search element*/
        .lang-login,
        .search-form  {
           display: none;
       }
        /*displaying the search icon*/
       #search-checkbox +label {
           display: block;
           position: absolute;
           right:1%;
           top:8%;
           background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
           padding: 8px;
           border-radius: 5px;
           border: 1px solid silver;
           transition: all .15s ease;
           cursor: pointer;
       }
        /*displaying the search input when checked*/
       #search-checkbox:checked ~ .search-input-mobile {
           display: block;
           width: 100%;
           margin-top: 14px;
           padding: 6px;
           border-radius: 7px;
           border: 1px solid silver;
           outline: none;
           font-size: 1.2rem;
       }
            /*displaying the hamburger menu icon*/
        #toggle + label {
            display: block;
            position: absolute;
            top:10%;
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
            padding: 10px  8px;
            border-radius: 5px;
            border: 1px solid silver;
            cursor: pointer;
        }
        /*styling the main menuand resetting padding*/
        .main-nav {
            position: absolute;
            width: 100%;
            display: block;
            max-height: 0;
            overflow: hidden;
            transition: all .15s ease;
        }
        .main-nav ul {
            padding-left:0 ;
        }
        .upper-header ul .nav-tabs {
            float: none;
            background: #fff;
            width: 100%;
           padding: 10px;
            border-bottom: 1px solid silver;
        }
        /*this is neccessary bcoz of specifty*/
         .upper-header .nav-tabs:last-child {
           padding: 10px;
             border-bottom: none;
        }
         /*adding the arrow on the left*/
        .nav-tabs > a::before {
            content: "";
            display: inline-block;
            background: url(images/navCollapseArrowRight.png)no-repeat;
            vertical-align: baseline;
            height: 10px;
            width: 2px;
            padding-right: 10px;
        }
        /*overriding hover states and styles from the screen size*/
        .nav-tabs:hover ,
        .nav-tabs:focus {
            border: none;
            padding-left: 10px;
            padding-top: 5px;
        }
        .nav-tabs:hover a ,
        .nav-tabs:focus a {
            color: #585951;
        }

        .nav-tabs:hover > a {
            box-shadow: none;
        }
        .nav-tabs:hover a::before {
            display: inline-block;
        }
        .nav-tabs:hover > ul {
            display: none;
        }
        .nav-tabs:last-child > a {
            bottom: 0;
        }
          /*toggling the menu*/
        #toggle:checked  ~.main-nav {
            max-height: 2000px;/*!!!!!!**/
        }
        /*rearranging the ul's style to fit"*/
        .dropdown {
            position: relative;
            top:0;
            left:0;
        }
        /*rearranging the inner columns of the drop down"*/
        .dropdown .dropdown-column {
            float: none;
            margin-top: 0;
            margin-left: 0;
            line-height: 30px;
            text-transform: uppercase;
        }
        /*border bottom for the li's*/
        .dropdown-column li {
            border-bottom: 1px solid silver;
        }
        /*none for the last child*/
        .dropdown-column:nth-child(2)  li:last-child {
            border-bottom: none;
        }
        .mega-divider,
        .mega-img {
            display: none;
        }
        .nav-tabs:hover > ul {
            display: block;
            max-height: 1000px;
        }



        /*===lower header===*/
        .lower-header {
            height: auto;
        }

        .lower-header .slide h1 {
            font-size: 2.5rem;
            margin-top: 0;

        }
        .lower-header .slide p {
            font-size: 1.5rem;
        }
        .slide li {
            line-height: 2px!important;/*becoz in the desktop it's on id*/
        }
        .slide {
            padding-top: 0;
            padding-bottom: 100px;
        }
        .slide:nth-child(2) {
            padding-bottom: 130px;
        }
        .slide:nth-child(3){
            padding-bottom: 200px;
        }
        /*new blue box elemnt*/
        .blue-container {
            background-color: rgba(40, 148, 201, 0.9);
            background-image: url(images/weDoBG.png);
            padding-bottom: 2px;
        }
        .slider-btn {
            margin-top: 50px;
        }
        .slider-nav {
            bottom:75px;
        }
        /*enlarging the bullets*/
        .slider-nav div {
            width: 20px;
            height:20px;
            color: silver;
            text-align: center;
        }
        /*centering the number texts in side the bullets*/
        .slider-nav div h6 {
            padding-top: 2px;
            font-size: 1.3rem;
        }
        /*press color boxes section */
        /*back in to normal flow*/
        .relative-press-wrapper {
            position: static;


        }
        .press-wrapper {
        position: static;
        }
        .press-wrapper li {
         float: none;
        display: block;
        width: 100%;
        margin-left:0 ;
        position: relative;

        }

        /*adding the promotion arrows*/
        .press::after {
            content: "";
            display: inline-block;
            background: url(images/promotion-item-arrow.png) no-repeat;
            width: 20px;
            height: 40px;
            background-size: 100%;
            position: absolute;
            right: 5px;
            top: 40%;
        }
        .press h3 {
            font-size: 2.1rem;
        }
        /*=====solutions====*/
        /*minimizing the fonts size and the icon boxes*/
        .spot-light {
            display: none;
        }
        .solution h6 {
            font-size: 1.3rem;
        }
        .solutions li{
            width: 30%;
            height: 100%;
        }
        /*====events====*/
        .events {
            height: auto;
        }
        .events h3 {
            font-size: 1.7rem;
        }
        .events p {
            overflow: auto;
            font-size: 1.9rem;
            line-height: 25px;

        }
        .events li {
            display: block;
            width: 100%;
            margin-left: 0;
            padding-bottom: 20px;
        }
        /*===success stories===*/
        .col-narrow {
            display: none;
        }
        .stories .col-wide {
            float: none;
            display: block;
            width: 100%;

             margin-right: 0;
            margin-top: 34%;

        }
        .middle-story li:not(:last-child),
        .left-story li:not(:first-child) {
            margin-left: 8px;
        }
        .middle-story li:first-child,
        .middle-story li:last-child,
        .left-story li:nth-child(2) {
            margin-left: 0;
        }




























    }/*end*/





        /*press items*/
       /*.grid {*/
           /*width:100%;*/
       /*}*/
       /*.press-wrapper {*/
           /*position: static;*/
       /*}*/
      /*.press-wrapper ul li {*/
          /*display: bl
          ock;*/
          /*width: 100%;*/
          /*margin-left:0 ;*/
      /*}*/
    
}
	

