/* main css */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: "Open Sans";
}

 li{
	list-style:none;
}
a:link {
    text-decoration: none;
}
/*============
upper header
==============*/
.upper-header li,
.lang,
.upper-header button{
	color: #585951;
}
.upper-header{
	font-family: "Arial";
}
.upper-header button{
	background: #ffffff;
	border: none;
}
.upper-header>a {
	margin-left: 30px;
	margin-top:10px;
	
}
.main-nav { /*align the main nav*/
	position: absolute;
	left: 300px;
	top: 45px;
	color: 	
}

.nav-tabs {        /*main nav menu: aligi horizotaly*/
	display: inline-block;
	text-transform: uppercase;
}
.nav-tabs .divider {
	padding-left: 5px; 
	padding-right: 5px;
}
.nav-tabs>a {
	color: #585951;
}
.dropdown {         /*hide sub menu of the main menu*/
	display: none;
}

.divider {            /* align the divider img  */
	vertical-align: middle; 
}
.nav-tabs:hover .dropdown { /* show submenu when hovering*/
display: block;
position: absolute;

}
.search-form {       /*position the search element*/
	position: absolute;
	right:20px;
	top:50px
}
.search-form img {
	vertical-align: middle; /*position the search divider in middle of the element*/
}
.search-form input {        
	border: none;
}
.search-form input:focus {   /* delete the input outline*/
	outline: none;
}
.search-form fieldset{        /* adding an outline round whole element*/
	margin:0;
	padding: 2px;
	border:1px solid #d2d2d2;
	border-radius: 10px;
}
.lang-login {       /*position the lang&login element*/
	position: absolute;
	right: 80px;
	top: 20px;
}
.lang-login img {         /*position the search divider in middle of the element*/
	vertical-align: middle;
}
.lang-selection {
	text-transform: uppercase;
}
.customer-login::first-letter {
	text-transform: uppercase;
}

/*===========
lower header
=============*/
.lower-header,
.lower-header button,
.lower-header a{
	color: #fff;
}
.lower-header button{
	 background-color: #2894c9;
}
.lower-header{
  overflow: hidden;
}
.press{
	border-radius:5px;
	float: left;
	width: 250px;
	height: 150px;
	margin-left: 7%;
	

}
.item1{
	background-color: rgba(250,66,158,0.9);
}
.item2{
background-color: rgba(104,192,56,0.9);	
}
.item3{
	background-color: rgba(255,116,20,0.9);
}
.slide {
	display: none;
}
.onpageload {
	display: block;
}

/*solutions section*/
h6{
	font-size: 20px;
}
.solutions{
	background: #43a2c8;
	text-align: center;

}
.solutions,
.solutions a,
.solutions button{
color:#fff;
}
.solutions button{
	background: #3a95b5;
}
.solutions li {
	display: inline-block;
	margin-left:20px; 
}
/*events section*/
.events {
	background-image: url(images/news-and-events-bg.jpg);
}
.events a,
.events {
	color: #fff;
}
.events p {
	color: #000;
}
.events div {
	background: rgba(255,255,255,0.5);
}
/*success stories*/
.stories {
	background: #ececec;
	color: #585951;
}
.stories button {
	color: #fff;
	background: #2894c9;

}
.stories li:first-child,
.stories li:nth-child(8),
.stories li:nth-child(9){
	background: #fff;
	margin: 10px 0 10px 0;
}
/*footer*/
footer{
	background: #000;
}
footer a{
	color: #fff;
}
footer li:first-child{
  text-transform:uppercase;
  padding:20px 0 10px 0
}

small{
	color:  #585951;
}
.feature-box {
	background: rgba(255,255,255,0.2);
}
.feature-box h2 {
color: #4ea7d3;
}
.feature-box button {
	background: #36a1d7;
	color: #fff;
	

}



	

